﻿@model IEnumerable<b151210067.Models.Message>
@{
    ViewBag.Title = "CustomerMessages";
}

<br />
<div style="background-color: white;">
    <table class="table table-hover table-striped">
        <thead>
            <tr><th>Gönderen</th><th>E-mail</th><th>Mesaj</th><th>Telefon</th></tr>

        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>
                        @message.SenderName
                    </td>
                    <td>
                        @message.SenderEmail
                    </td>
                    <td>
                        @message.Body
                    </td>
                    <td>
                        @message.PhoneNumber
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
