﻿
@{
    ViewBag.Title = "Index";
}

<h2>Admin paneli</h2>

<a href="@Url.Action("NewProduct")">Yeni ürün ekle</a><br />
<a href="@Url.Action("NewAccessory")">Yeni aksesuar ekle</a><br />
<a href="@Url.Action("CustomerMessages")">Müşteri mesajları</a>


