﻿
@{
    ViewBag.Title = "NewAccessory";
}

<h2>Yeni Aksesuar</h2>


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name" class="control-label">Ürün Adı</label>
        <input type="text" class="form-control" name="Name" id="Name" />
    </div>
    <div class="form-group">
        <label for="Price" class="control-label">Fiyat</label>
        <input type="number" class="form-control" name="Price" id="Price" />
    </div>
    <div class="form-group">
        <label for="Rating" class="control-label">Yıldız</label>
        <input type="number" class="form-control" name="Rating" id="Price" />
    </div>
    <div class="form-group">
        <label for="File">Fotoğraf:</label>
        <input type="file" name="File" id="File" />
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>

