﻿
@{
    ViewBag.Title = "Aksesuar";
}

<h2>Aksesuar</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">            
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a1.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">89,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Sırt Çantası</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a2.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">150,00 TL</font></h4>
                            <h4><font face="Buxton Sketch">Sırt Çantası</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a3.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">69,99 TL</font></h4>
                            <h4><font face="Buxton Sketch">Sırt Çantası</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a4.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">10,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Saç Bandı</font></h4>
                            <h4><font face="Buxton Sketch">Atkı 14,99 TL</font></h4>
                            <h4><font face="Buxton Sketch">Çanta 25,00 TL</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a5.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">35,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Taç</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a6.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">15,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Saç Bandı</font></h4>
                            <h4><font face="Buxton Sketch">Bileklik 3,00 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kolye 5,00 TL </font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a7.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">19,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Bere</font></h4>
                            <h4><font face="Buxton Sketch">Gözlük 25,00 TL</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a8.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">29,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Atkı</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/a9.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">27,00 TL</font></h4>
                            <h4><font face="Buxton Sketch">Şapka</font></h4>
                            <h4><font face="Buxton Sketch">Papyon 6,00 TL</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

