﻿@{
    ViewBag.Title = "Müşteri Hizmetleri";
}

<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-6">
                    <img src="~/Images/musterihizmetleriarkaplan.jpeg" />
                </div>
                <div class="col-md-6">
                    <form action="@Url.Action("NewMessage","Messages")" method="post">
                        <div class="contact-form">
                            <center>
                                <h2><font face="Buxton Sketch">İletişim Formu</font></h2>
                            </center>
                            <hr style="border-color:#cae1ff">
                            <div class="form-group">
                                <font face="Buxton Sketch">
                                    <label class="col-sm-4 control-label">Adınız:</label>
                                    <input id="ad" type="text" name="SenderName" class="form-control">
                                </font>
                            </div>
                            <div class="form-group">
                                <font face="Buxton Sketch">
                                    <label class="col-sm-4 control-label" font face="Buxton Sketch">Soyadınız:</label>
                                    <input id="soyad" type="text" name="SenderUserName" class="form-control">
                                </font>
                            </div>
                            <div class="form-group">
                                <font face="Buxton Sketch">
                                    <label class="col-sm-4 control-label">E-Posta:</label>
                                    <input id="eposta" type="text" name="SenderEmail" class="form-control">
                                </font>
                            </div>
                            <div class="form-group">
                                <font face="Buxton Sketch">
                                    <label class="col-sm-4 control-label">GSM:</label>
                                    <input id="gsm" type="text" name="PhoneNumber" class="form-control">
                                </font>
                            </div>
                            <div class="form-group">
                                <font face="Buxton Sketch">
                                    <label class="col-sm-4 control-label">Mesajınız:</label>
                                    @Html.TextArea("Body", null, new { @class = "form-control", placeholder = "Mesajınız...", rows = 6, columns = 40 })
                                </font>
                            </div>
                            <div class="form-group">
                                <center>
                                    <font face="Buxton Sketch">
                                        <button type="submit" class="col-sm-push-7 btn btn-primary">Gönder</button>
                                    </font>
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
