﻿
@{
    ViewBag.Title = "Erkekcocuk";
}

<h2>Erkekcocuk</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <img src="~/Images/erkekcocuksayfasi.jpeg" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e1.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">159,90 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Mont</font></h4>
                                <p>
                                    Pantolon 50,00 TL
                                    <br>Kazak 35,99 TL
                                    <br>Ayakkabı 69,90 TL
                                </p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e9.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">64,90 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Ceket</font></h4>
                                <p>
                                    Pantolon 50,00 TL
                                    <br>Ayakkabı 45,90 TL
                                </p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e6.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">73,90 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Hırka</font></h4>
                                <p>
                                    Pantolon 65,00 TL
                                    <br>Gömlek 35,99 TL
                                    <br>Ayakkabı 39,90 TL
                                </p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e8.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">95,90 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Ceket</font></h4>
                                <p>
                                    Pantolon 62,00 TL
                                    <br>Kazak 35,99 TL
                                    <br>Ayakkabı 76,90 TL
                                </p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e3.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">159,90 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Ceket</font></h4>
                                <p>
                                    Pantolon 80,00 TL
                                    <br>Gömlek 69,99 TL
                                    <br>Ayakkabı 102,90 TL
                                </p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e4.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">173,00 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Ceket</font></h4>
                                <p>
                                    Pantolon 94,00 TL
                                    <br>Ayakkabı 129,90 TL
                                </p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e5.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">86,99 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Kazak</font></h4>
                                <p>
                                    Pantolon 65,00 TL
                                    <br>Ayakkabı 63,90 TL
                                </p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e7.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">189,90 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Eşofman Takımı</font></h4>
                                <p>Ayakkabı 97,90 TL</p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/e2.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">199,90 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Takım Elbise</font></h4>
                                <p>Ayakkabı 89,90 TL</p></font>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


