﻿@{
    ViewBag.Title = "ANASAYFA";
}
<br ><br />@*<p><h1>Kübra Yavuz B151210067</h1></p>*@
<br><br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/images/slider.jpeg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/images/slider1.jpeg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/images/slider2.jpeg" alt="">
                            </div>

                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            
            <p>
                <center>
                    <font face="Buxton Sketch" size="4" color=#db3737>
                        <b>Sevgiyle başlayan, özenle yaratıp, keyifle sunan Çocuk Dünyası ürünleri bu sitede sizlerle...</b>
                    </font>
                </center>
            </p>
            <br >
            <p>
                    <font face="Buxton Sketch" size="5" color=#000000>
                        <b>BU HAFTA ÇOK SATANLAR</b><hr style="border-color:#cae1ff">
                    </font>
            </p>

            <div class="row">
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/coksatanlar1.jpeg" alt="">
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">69,95 TL</font></h4>
                                <h4><font face="Buxton Sketch">Kız Çocuk Pudra Elbise</font></h4>
                                <p>Ayakkabı 46,50 TL</p>
                                </font>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/coksatanlar2.jpeg" />
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">143,95 TL</font></h4>
                                <h4><font face="Buxton Sketch">Kız Çocuk Lacivert Mont</font></h4>
                                <p>
                                    Kız Çocuk Elbise 43,99 TL
                                    <br>Ayakkabı 49,90 TL
                                </p>
                                </font> 
                       </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/coksatanlar3.jpeg"  alt="">
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">59,90 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Siyah Ceket</font></h4>
                                <p>
                                    Pantolon 50,00 TL
                                    <br>Ayakkabı 69,90 TL
                                </p>
                                </font>
                           </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        <img src="~/Images/coksatanlar4.jpeg" alt="">
                        <div class="caption">
                            <font face="Buxton Sketch">
                                <h4 class="pull-right"><font face="Buxton Sketch">120,95 TL</font></h4>
                                <h4><font face="Buxton Sketch">Erkek Çocuk Lacivert Ceket</font></h4>
                                <p>
                                    Pantolon 54,90 TL
                                    <br>Ayakkabı 45,90 TL
                                </p>
                                </font>
                       </div>
                    </div>
                </div>
        </div>
    </div>
        <br ><br />
        <p>
            <font face="Buxton Sketch" size="5" color=#000000>
                <b>ÜRETİCİ FİRMALAR</b><hr style="border-color:#cae1ff">
            </font>
        </p>
        <div class="row">
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/l1.jpeg" alt="">
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/l2.jpeg" />
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/l3.jpeg" alt="">
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/l4.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/l5.jpeg" alt="">
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/l6.jpeg" />
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/l7.jpeg" alt="">
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/l8.jpeg" alt="">
                </div>
            </div>
        </div>
</div>
</div>