﻿
@{
    ViewBag.Title = "Kızcocuk";
}

<h2>Kızcocuk</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <img src="~/Images/kizcocuksayfasi.jpeg" />
                </div>
            </div>
            <br >
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k1.jpg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">129,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k2.jpg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">100,00 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k3.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">95,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k4.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">130,50 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k5.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">72,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k6.jpeg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">86,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k8.jpg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">146,99 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k7.jpg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">169,90 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/k9.jpg" />
                        <div class="caption">
                            <h4 class="pull-right"><font face="Buxton Sketch">164,99 TL</font></h4>
                            <h4><font face="Buxton Sketch">Kız Çocuk Elbise</font></h4>
                        </div>
                        <div class="ratings">
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

