﻿
@{
    ViewBag.Title = "Magazalarımız";
}

<h2>Magazalarımız</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <img src="~/Images/magaza.jpeg" />
                </div>
            </div>

        </div>
    </div>
</div>
<br >

<center>
    <table border="1" width="1000" height="150">

        <tr>
            <td><b><font face="Buxton Sketch">Şehir</font></b></td>
            <td><b><font face="Buxton Sketch">Ulaşım Bilgileri</font></b></td>
            <td><b><font face="Buxton Sketch">İletişim Bilgileri</font></b></td>
        </tr>
        <tr>
            <td><font face="Buxton Sketch">İstanbul</font></td>
            <td><font face="Buxton Sketch">Küçük Çekmece Mah. Çardar Sok NO:2 Üsküdar</font></td>
            <td><font face="Buxton Sketch">216-6023322</font></td>
        </tr>
        <tr>
            <td><font face="Buxton Sketch">İzmir</font></td>
            <td><font face="Buxton Sketch">Zorlu Center Levazım Mah. Koru Sok. No:2</font></td>
            <td><font face="Buxton Sketch">232-3539687</font></td>
        </tr>
        <tr>
            <td><font face="Buxton Sketch">Kocaeli</font></td>
            <td><font face="Buxton Sketch">Tatlıkuyu Mah. Güneyyanyol Cad. GEbze Center Avm No:310</font></td>
            <td><font face="Buxton Sketch">262-6429856</font></td>
        </tr>


    </table>
</center>



