﻿@model b151210067.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<br>
<center>
   <p><h4><font face="Buxton Sketch">Neden Üye Olmalıyım ?</font></h4></p> 
</center>
<hr style="border-color:#cae1ff">
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>

          <font face="Buxton Sketch">
            <p>
             <ul>
                <li>İhtiyaçlarınıza en uygun ürünleri size önerebiliriz.</li>
                <li>İletişim tercihlerinizi değiştirebilirsiniz.</li>
                <li>Bize ulaştığınızda size daha iyi bir hizmet verebiliriz.</li>
             </ul>
           </p>
         </font>
            
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
