﻿@using b151210067.Models
@model LoginViewModel
@{
    ViewBag.Title = "Giriş Yap";
}

<h2>@ViewBag.Title.</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <img src="~/Images/girisyapkapak.jpeg" />
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    <center>
                        <h2><font face="Buxton Sketch">Üye Girişi</font></h2>
                    </center>
                    <hr style="border-color:#cae1ff">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <font face="Buxton Sketch">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </font>
                     </div>
                    <div class="form-group">
                        <font face="Buxton Sketch">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </font>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <font face="Buxton Sketch">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)     
                                </font>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <center>
                                <font face="Buxton Sketch">
                                    <input type="submit" value="Giriş Yap" class="btn btn-default" />
                                </font>
                            </center>
                        </div>
                    </div>
                    <font face="Buxton Sketch">
                        <p>
                            @Html.ActionLink("Hesap Oluştur", "Register")
                        </p>
                    </font>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                        }
</section>
           
        </div>
        
        <div class="col-md-6">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}