﻿@model b151210067.Models.RegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
}

<h2>@ViewBag.Title.</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-6">
                    <img src="~/Images/kayıtolarkaplan.jpeg" />
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <center><h2><font face="Buxton Sketch" color="ffffff">Yeni Üye</font></h2></center>
                        <hr style="border-color:#cae1ff">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <font face="Buxton Sketch" color="ffffff">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                            </font>
                                <div class="col-md-8">
                                    <font face="Buxton Sketch" color="ffffff">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</font>
                                </div>
                        </div>
                        <div class="form-group">
                            <font face="Buxton Sketch" color="ffffff">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                            </font>
                                <div class="col-md-8">
                                    <font face="Buxton Sketch" color="ffffff">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </font>
                                </div>
                        </div>
                        <div class="form-group">         
                            <font face="Buxton Sketch" color="ffffff">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                            </font>
                                <div class="col-md-8">
                                    <font face="Buxton Sketch" color="ffffff">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </font>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <center>
                                  <font face="Buxton Sketch">
                                            <input type="submit" class="btn btn-default" value="Kayıt Ol" />
                                    </font>
                                </center>                                
                            </div>
                        </div>
                    }
                    </div>
                </div>
      </div>
    </div>
</div>
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }


