﻿@model IEnumerable<b151210067.Models.Product>
@{
    ViewBag.Title = "Kızcocuk";
}


<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    @if (ViewBag.Category == "FemaleChild")
                    {
                        <img src="~/Images/kizcocuksayfasi.jpeg" />
                    }
                    else
                    {
                        <img src="~/Images/erkekcocuksayfasi.jpeg" />
                    }
                </div>
            </div>
            <br>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@Url.Action("Index", "File", new { item.Id })" />
                            <div class="caption">
                                <h4 class="pull-right"><font face="Buxton Sketch">@item.Price TL</font></h4>
                                <h4><font face="Buxton Sketch">@item.Name</font></h4>
                            </div>
                            <div class="ratings">
                                <p>
                                    @{
                                        for (int i = 0; i < item.Rating; i++)
                                        {
                                            <span class="glyphicon glyphicon-star"></span>
                                        }
                                        for (int i = 0; i < 5 - item.Rating; i++)
                                        {
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                                        }



            </div>
        </div>
    </div>
</div>
